:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
    --title-font: 'Racing Sans One', cursive;
    --bm-subtitle-font: 'Fira Sans', sans-serif;
    --bm-body-font: 'Roboto', sans-serif;
    --bm-primary-color: #91CBFB;
    --bm-secondary-color: #4294BA;
    --bm-dark-color: #212121;
    --bm-light-color: #f8f8f8;
    --bm-font-size: 1rem;
    --bm-font-weight: 100;
    --bm-line-height: 1;
}
html{
    height: 100%;
    width: 100%;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--title-font);
}

.mainHeader {
    
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 22em;
}



.mainTitle {
    font-family: var(--title-font);
    color: var(--bm-light-color);
    font-size: 4em;
    line-height: 1em;
}

.subtitle {
    font-family: var(--bm-subtitle-font);
    color: var(--bm-light-color);
    font-size: 1em;
    line-height: 1em;
    font-weight: 1;
    letter-spacing: .4rem;
}

.button {
    font-family: var(--bm-body-font);
    padding: auto;
    line-height: 2em;
    font-weight: 700;
    background-color: #fae100;
}



body {
    font-family: var(--title-font);
    font-size: var(--bm-font-size);
    font-weight: var(--bm-font-weight);
    color: var(--bm-dark-color);
   /* background-image: url(/img/LandingPage_1920.png);*/
    background-repeat: no-repeat;
    background-blend-mode: color 00223d;
    height: 100%;
    width: 100%;
    padding-top: 30em;




}

.content {
    flex: auto;
}

.footer {
    font-size: 1em;
    font-weight: 400;
    color: #212121;
    padding-top: 1em;
    flex-shrink: 0;

}

/* Media*/
@media (min-width: 250.98px) {

    body{
        background-image: url(/img/landing375x150.jpg);
        height: 274px;

    }


    .mainTitle {
        font-size: 2em;
        line-height: 1;
    }
    .subtitle {
        font-family: var(--bm-subtitle-font);
        color: var(--bm-light-color);
        font-size: 1em;
        line-height: 1em;
        font-weight: 1;
        letter-spacing: .4rem;
    }
}

@media (min-width: 374.98px) {

    body{
        background-image: url(/img/landing576x200.jpg);
        height: 274px;

    }

    .mainTitle {
        font-size: 2.5em;
        line-height: 1.1;
    }
        .subtitle {
            font-family: var(--bm-subtitle-font);
            color: var(--bm-light-color);
            font-size: 1em;
            line-height: 1em;
            font-weight: 1;
            letter-spacing: .4rem;
        }

}

@media (min-width: 767.98px) {

    body{
        background-image: url(/img/landing\ 992x300.jpg);
        height: 374px;

    }

    .mainTitle {
        font-size: 3em;
        line-height: 1;



    }
        .subtitle {
            font-family: var(--bm-subtitle-font);
            color: var(--bm-light-color);
            font-size: 1em;
            line-height: 1em;
            font-weight: 1;
            letter-spacing: .4rem;
        }
}

@media (min-width: 991.98px) {

    body{
        background-image: url(/img/landing1200x400.jpg);
        height: 474px;

    }

    .mainTitle {
        font-size: 4em;
        line-height: 1;
    }
        .subtitle {
            font-family: var(--bm-subtitle-font);
            color: var(--bm-light-color);
            font-size: 1em;
            line-height: 1em;
            font-weight: 1;
            letter-spacing: .4rem;
        }

}
@media (min-width: 1199.98px) {
    body{
        background-image: url(/img/LandingPage_1920.png);
        height: 574px;
    }

    .mainTitle {
        font-size: 5rem;
        line-height: 4.5rem;
    }
        .subtitle {
            font-family: var(--bm-subtitle-font);
            color: var(--bm-light-color);
            font-size: 1em;
            line-height: 1em;
            font-weight: 1;
            letter-spacing: .4rem;
        }
        .mainHeader {

            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 22em;
        }

}


@media (min-width: 1399.98px) {

    body {
        background-image: url(/img/LandingPage_1920.png);
        height: 574px;

    }

    .mainTitle {
        font-size: 4em;
        line-height: .9;
    }
        .subtitle {
            font-family: var(--bm-subtitle-font);
            color: var(--bm-light-color);
            font-size: 1em;
            line-height: 1em;
            font-weight: 1;
            letter-spacing: .4rem;
        }
        .mainHeader {

            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 22em;
        }
     
}