:root {
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
    --title-font: 'Racing Sans One', cursive;
    --bm-subtitle-font: 'Fira Sans', sans-serif;
    --bm-body-font: 'Roboto', sans-serif;
    --bm-primary-color: #91CBFB;
    --bm-secondary-color: #4294BA;
    --bm-dark-color: #212121;
    --bm-light-color: #f8f8f8;
    --bm-font-size: 1rem;
    --bm-font-weight: 100;
    --bm-line-height: 1;
}



h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    font-family: var(--title-font);
}



.mainTitle {
    font-size: 2.5rem;
    line-height: 2rem;
    font-family: 'Racing Sans One', cursive;
    color: #ebebeb;
}

.subtitle {
    font-family: 'Fira Sans', sans-serif;
    color: var(--bm-light-color);
    font-size: .95rem;
    line-height: 1.2rem;
    font-weight: 200;
    letter-spacing: .06rem;
}

.button {
    font-family: var(--bm-body-font);
    padding: auto;
    line-height: 2em;
    font-weight: 700;
    background-color: #fae100;
}

html,
body {
    height: 100%;
    color: var(--cf-light);
    font-family: 'Roboto', sans-serif;
    color: #ebebeb;
    background-color: #00223d;
}

body {
    display: flex;
    flex-direction: column;
}

.bodyBG {
    font-family: var(--title-font);
    font-size: var(--bm-font-size);
    font-weight: var(--bm-font-weight);
    background-image: url(/img/LandingPage_576x200.png);
    background-position: top center;
    background-repeat: no-repeat;
    
}

nav {
    background-color: transparent;
    font-family:'Racing Sans One',cursive;
    font-size: 1.8rem;
    color: white;
    
    
}

nav>div>img>a:hover {
    color: var(--cf-highlight);
}

.nav-item a:hover {
    color: var(--cf-highlight);
    
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    background-color: transparent;
    font-family: sans-serif;
    font-size: 1.5rem;
    
}

/* Media*/
@media (min-width: 575.98px) {

    .bodyBG {
        background-image: url(/img/LandingPage_768x512.png);
        background-position: top right;
        background-repeat: no-repeat;
    }


    .mainTitle {
        font-size: 5rem;
        color: #ebebeb;
        line-height: 4.5rem;
    }

    .subtitle {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.2em;
        line-height: 1em;
        font-weight: 1;
        letter-spacing: .4rem;
    }
}

@media (min-width: 767.98px) {

    .bodyBG {
        background-image: url(/img/LandingPage_992x300.png);
        background-position: top right;
        background-repeat: no-repeat;

    }

    .mainTitle {
        font-size: 4rem;
        color: #ebebeb;
        line-height: 3.5rem;
    }

    .subtitle {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.4em;
        line-height: 1.1em;
        font-weight: 1;
        letter-spacing: .4rem;
    }
}



@media (min-width: 991.98px) {

    .bodyBG {
        background-image: url(/img/LandingPage_992x300.png);
        background-position: top right;
        background-repeat: no-repeat;

    }

    .mainTitle {
        font-size: 5rem;
        color: #ebebeb;
        line-height: 4.5rem;
    }

    .subtitle {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.em;
        line-height: 1.2em;
        font-weight: 1;
        letter-spacing: .4rem;
    }
}


@media (min-width: 1199.98px) {

    .bodyBG {
        background-image: url(/img/LandingPage_1200x400.png);
        background-position: top right;
        background-repeat: no-repeat;

    }

    .mainTitle {
        font-size: 5rem;
        color: #ebebeb;
        line-height: 4.5rem;
    }

    .subtitle {
        font-family: 'Fira Sans', sans-serif;
        font-size: 1.5em;
        line-height: 1.2em;
        font-weight: 1;
        letter-spacing: .4rem;
    }
}



@media (min-width: 1399.98px) {
    .bodyBG {
        background-image: url(/img/LandingPage_1920.png);
        background-position: top right;
        background-repeat: no-repeat;
    }

    .mainTitle {
        font-size: 5rem;
        color: #ebebeb;
        line-height: 4.5rem;
    }

    .subtitle {
        font-family: 'Fira Sans', sans-serif;
        color: var(--bm-light-color);
        font-size: 1.5em;
        line-height: 1em;
        font-weight: 1;
        letter-spacing: .4rem;
    }
}